@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.header-bg {
  background-image: url('@/assets/images/pattern-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .header-bg-mobile {
    background-image: url('@/assets/images/pattern-bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
